.draggable {
    cursor: move;
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 5px;
    position: relative;
    width: 15em;
}
.dropzone {
    min-width: 100px;
    min-height: 100px;
    background-color: lightgray;
    margin: 20px;
    border: 2px dotted black;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    align-content: center;
    justify-items: center;
}
