.draggable {
    cursor: move;
    display: inline-block;
    background-color: rgb(3, 197, 194);
    color: white;
    padding: 5px;
    position: relative;
    width: 15em;
    border-radius: 5px;
    
}
.dropzone {
    position: absolute;
    width: 100px; /* ขนาดของกล่องสี่เหลี่ยม */
    height: 100px; /* ขนาดของกล่องสี่เหลี่ยม */
    background-color: rgba(0, 255, 255, 0.5); /* สีและความโปร่งใสของกล่อง */
    border-radius: 15px;
    text-align: center;
    align-content: center;
}
.case {
    background-image: url(./../src/assets/case.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.container1 {
    position: relative;
    width: auto; /* กำหนดขนาดของ container ให้ตรงกับรูป */
    height: auto; /* กำหนดขนาดของ container ให้ตรงกับรูป */
}

.case-image {
    width: 100%;
    height: 100%;
}


/* กำหนดตำแหน่งของแต่ละกล่องสี่เหลี่ยม */
.box-1 { top: 30px; left: 470px; }
.box-2 { top: 320px; left: 303px; }
.box-3 { top: 157px; left: 1040px; }
.box-4 { top: 791px; left: 352px; }
.box-5 { top: 769px; left: 1050px; }
/* .box-6 { top: 500px; left: 300px; } */