.draggable {
    cursor: move;
    display: inline-block;
    background-color: rgb(3, 197, 194);
    color: white;
    padding: 5px;
    position: relative;
    width: 15em;
    border-radius: 5px;

}

.dropzone {
    position: absolute;
    width: 100px;
    /* ขนาดของกล่องสี่เหลี่ยม */
    height: 100px;
    /* ขนาดของกล่องสี่เหลี่ยม */
    background-color: rgb(42, 172, 172);
    /* สีและความโปร่งใสของกล่อง */
    border-radius: 15px;
    text-align: center;
    align-content: center;
}

.case {
    background-image: url(./../src/assets/case.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.container1 {
    position: relative;
    width: auto;
    /* กำหนดขนาดของ container ให้ตรงกับรูป */
    height: auto;
    /* กำหนดขนาดของ container ให้ตรงกับรูป */
}

/* กำหนดตำแหน่งของแต่ละกล่องสี่เหลี่ยม */
.box-1 {
    top: 3vh;
    left: 24.5vw;
}

.box-2 {
    top: 320px;
    left: 303px;
}

.box-3 {
    top: 157px;
    left: 1040px;
}

.box-4 {
    top: 791px;
    left: 352px;
}

.box-5 {
    top: 769px;
    left: 1050px;
}

/* .box-6 { top: 500px; left: 300px; } */
@media screen and (max-width: 1670px) {
    .box-1 {
        top: 3vh;
        left: 22.5vw;
    }

    .box-2 {
        top: 320px;
        left: 12.5vw;
    }

    .box-3 {
        top: 157px;
        left: 56.7vw;
    }

    .box-4 {
        top: 791px;
        left: 15.5vw;
    }

    .box-5 {
        top: 769px;
        left: 57.5vw;
    }
}

@media screen and (max-width: 1430px) {
    .box-1 {
        top: 3vh;
        left: 19.9vw;
    }

    .box-2 {
        top: 320px;
        left: 8.5vw;
    }

    .box-3 {
        top: 157px;
        left: 59.7vw;
    }

    .box-4 {
        top: 791px;
        left: 11.7vw;
    }

    .box-5 {
        top: 769px;
        left: 60.5vw;
    }
}

@media screen and (max-width: 1170px) {
    .box-1 {
        top: 4.5vh;
        left: 17.3vw;
    }

    .box-2 {
        top: 35.5vh;
        left: 3.5vw;
    }

    .box-3 {
        top: 18vh;
        left: 63vw;
    }

    .box-4 {
        top: 85vh;
        left: 7.5vw;
    }

    .box-5 {
        top: 82.5vh;
        left: 64.5vw;
    }
}

.sc {
    scrollbar-width: thin;
    scrollbar-color: black white;
}