header {
    backdrop-filter: blur(6px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(255, 255, 255, 0.04) 0px 10px 10px -5px;
}

body {
    background-color: #1d0c1b !important;

}
.card {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(243, 243, 243, 0.3) 0px 30px 60px -30px;
    max-width: auto;
    max-height: 250px;
    transition: ease-in-out 0.5s;
    overflow: hidden;
}
.minimg img{
    object-fit: cover;
}

.card:hover{
    scale: 1.1;
    transition: ease-in-out 0.5s;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: black white;
    max-height: 80vh;
}

@media screen and (max-width: 1000px){
    .minimg img{
        max-width: auto;
        max-height: auto;
        object-fit: cover;
        
    }
    .card {
        width: auto;
        height: 20vh;
        overflow-y: hidden;
    }
}
@media screen and (max-width: 770px){
    .card {
        overflow-y: scroll;
        scrollbar-width: thin;
        width: 90vw;
        height: 20vh;
    }
    .minimg img{
        max-width: 200px;
        max-height: auto;
        object-fit: cover;
    }
}
