.card-img-top {
    filter: blur(0px);
  }
.card-img-overlay img {
    position: relative;
    z-index: 2;
    transition: 0.5s;
  }
.card-img-overlay img:hover {
    scale: 1.4;
}
.bg-img {
  
  object-fit: cover;
  background-color: rgb(255, 255, 255);
  opacity: 90%;
}
body {
  background-image: url(./src/assets/Bluemoon30FPS-Perfect-time.gif);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #1d0c1b !important;

}
.btnhover img {
  transition: ease-in-out 0.1s;
}
.btnhover img:hover {
  scale: 1.1;
}

.ab {
  top: 55vh; 
  left: 20vw;
}
@media only screen and (max-width: 1300px) {
  .ab {
    top: 60vh; 
    left: 23vw;
    
  }
}
@media only screen and (max-width: 1200px) {
  .ab {
    top: 57vh; 
    left: 20vw;
    
  }
}
@media only screen and (max-width: 900px) {
  .ab {
    top: 59vh; 
    left: 12vw;
    
  }
}
@media only screen and (max-width: 730px) {
  .ab {
    top: 67vh; 
    left: 6vw;
    
  }
}
@media only screen and (max-width: 550px) {
  .ab {
    top: 70vh; 
    left: 6vw;
    scale: 0.8;
    
  }
}