.card-img-top {
    filter: blur(0px);
  }
.card-img-overlay img {
    position: relative;
    z-index: 2;
    transition: 0.5s;
  }
.card-img-overlay img:hover {
    scale: 1.4;
}
.bg-img {
  
  object-fit: cover;
  background-color: rgb(255, 255, 255);
  opacity: 90%;
}
body {
  background-image: url(./src/assets/Bluemoon30FPS-Perfect-time.gif);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #1d0c1b !important;

}
.btnhover img {
  transition: ease-in-out 0.1s;
}
.btnhover img:hover {
  scale: 1.1;
}
.lay {
  margin-top: -40vh;
}

@media only screen and (max-height: 900px) {
  .lay {
    margin-top: -30vh;
  }
}